*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgba(20,20,20,255);
    font-family: fantasy;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: rgba(194,137,156,255);
    font-size: 19px;
    margin-right: 25px;
}

.heroes{
    background: var();
}
.heroes-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heroes-box img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px 10px;
    width: ;
    margin: 0 auto;
    justify-content: start;
}

.heroes-item{
    min-height: min-content;
    max-width: max-content;
    background-color: rgba(20,20,20,255);
    color: rgba(194,137,156,255);
    border: 3px solid pink;
}


.heroes-item:hover{
    border: 3px solid white;
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 15px 5px rgba(194,137,156,255);
}

.container{
    position: relative;
    max-width: 1350px;
    width: 40%;
    padding: 2%;
    margin: 10px auto;
}
.filter_buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: pink;
    border: ;
    border-radius: 6px;
    box-shadow: 0 0 15px 5px rgba(194,137,156,255);
    cursor: pointer;
}

button.active{
    background: blue;
    color: pink;
}

.hide {
    display: none;
}


